{% include "generic/top.html" with active="cursus" %}
<h1>Sparql Query !</h1>
<form class="form-horizontal" action="cursus" method="POST">{% csrf_token %}
    <fieldset>
        <!-- Form Name -->
        <legend>Choisisez votre dominante</legend>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Dominante</label>
            <div class="col-md-2">
                {{ form.dominante }}
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
{% include "generic/bottom.html" %}