{% include "generic/top.html" with active="dominante" %}

<h3>Mettez les matières dans votre ordre de préférence: </h3>
<p>
        <ul class="list-group sortable">
            {% for x in cours %}
            <li class="list-group-item">
                 {{x}}
            </li>
            {% endfor %}
        </ul>
</p>

<div>
    <label class="col-md-4 control-label" for="submit"></label>
    <div class="col-md-4">
        <button id="submit" name="submit" class="btn btn-success">Submit</button>
    </div>
 </div>


{% load static %}
<script src="{% static "jquery.sortable.min.js" %}"></script>


<script>
        $('.sortable').sortable();
    
        $('button').click( function(event) {
            var ordered = [];
            $('.sortable').children().each( function() {
                ordered.push($(this)[0].innerHTML);
            });
            $.ajax({
                url: 'dominante',
                type: "POST",
                data: JSON.stringify(ordered),
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                }
              });
            event.preventDefault();
        });
    
        
    </script>

{% include "generic/bottom.html" %}